*
{
    font-family:sans-serif;
    -webkit-user-select: none;
    color:#333;
}

button, input, .check-group
{
    float:left;
    margin:15px 5px;
    border-radius:20px;
    border:1px solid #333;
    background:#fff;
    line-height:40px;
    padding-right:20px;
}
button
{
    padding-left:10px;
}
textarea
{
    border-radius:20px;
    border:1px solid #333;
    padding:10px;
    clear:both;
    display: block;
}
textarea:focus {
    outline-width: 0;
}